body{
    background-color: black;
    color:white;
}
.img{
    width:100px;
    height:100px;
    position: absolute;
    left: 40%;
    margin: auto;
}
h1{
    background-color: gray;
    color:lime;
    border:solid 2px red;
    text-align: center;
}